.custom_dropdown {
    max-height: 250px;
    overflow-y: scroll;
    padding-bottom: 0;
    padding-top: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.custom_divider {
    margin: 0;
}

.custom_dropdown_item {
    padding: 0.7rem 0.6rem;
    text-align: center;
}
